{
  "trailingComma": "all",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "insertPragma": false,
  "proseWrap": "always",
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "semi": true,
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
